.Index{
    width: 100%;
    background-color:rgba(0,0,0,0);
}
h2{
    margin: 1.25rem 0rem 0.875rem;
    border-left: 0.125rem solid #d43c33;
    font-size: 1rem;
    text-align: left;
    text-indent: 0.625rem;
    font-family: '微软雅黑';
    color: #000;
    line-height: 1.25rem;
}
ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
ul li{
    width: 32%;
    height: 9.5rem;
    position: relative;
    margin-bottom: 0.625rem;
}
ul li a{
    width: 100%;
    display: block;
    height: 7.5rem;
}
ul li a img{
    width: 100%;
    height: 100%;
}
ul p{
    margin-top: 0.525rem;
    font-size: 0.75rem;
    word-wrap:break-word;
    overflow: hidden;
    text-align: left;
    color: #888;
    font-family: "微软雅黑";
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-indent: 0.3125rem;
    line-height: 0.75rem;
}
ul li span{
    position: absolute;
    right: 0.35rem;
    top: 0.3rem ;
    font-size: 0.8rem;
    text-indent: 0.8rem;
    text-align: right;
    color: #fff;
}
.ul_iocn{
    background:url(./../images/下载.svg) no-repeat 0rem 0.1rem;
    background-size:  0.75rem   ;
}
.Index_mian{
    box-sizing: border-box;
    padding-left: 0.625rem;
    margin-bottom: 3.25rem;
}
.Index_mian a{
    display: flex;
    justify-content: space-between;
}
.Index_mian a span span{
    display: block;
    margin-top: 0.5rem;
    font-size: 1.125rem;
    text-align: left;
    font-family: '微软雅黑';
    line-height: 1.75rem;
    color: #000;
}
.Index_mian a span p{
    font-size: 0.75rem;
    font-family: '微软雅黑';
    line-height: 1.25rem;
    color: #888;
}
.div_icon{
    display: inline-block;
    width: 1.75rem;
    height: 0.885rem;
    background:url(./../images/index_icon_2x.png) no-repeat 0rem 0rem;
}
.div_play{
    margin: 0.7rem 1.2rem;
    width: 2rem;
    height:2rem;
    text-align: center;
    background:url(./../images/index_icon_2x.png) no-repeat -1.35rem 0.25rem ;
    background-size: 11rem 7rem   ;
}
.Index_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Index_title{
    width: 14.375rem;
    height: 2.5rem;
   background: url(./../images/timg.jpg) no-repeat 0.55rem -1.2rem;
   background-size: 14rem;
}
.Index_app{
    width: 17.5rem;
    height: 2.5rem;
    margin: 0.9375rem 0rem 0.3125rem;
    border: 1px solid #d43c33;
    border-radius: 1.25rem;
    text-align: center;
    line-height: 2.5rem;
    font-size: 0.875rem;
    font-weight: "微软雅黑";
    color: #d43c33;
}
.Index_text{
    font-size: 0.75rem;
    margin-bottom: 3.5rem;
    letter-spacing:-0.1rem ;
    line-height: 1rem;
    color: #888;
}

